.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  border: 2px solid red;
}
.singleCard .card {
  height: 100%;
  /* border: 2px solid blue; */
}
.singleCard {
  /* border: 2px solid orange; */
  padding: 10px;
}
.singleCard img {
  width: 18rem;
  height: 20rem;
  object-fit: cover;
}
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
